<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <% if (project) { %>
            <form class="add-project-form" action="" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" id="title" value="<%= project.title %>" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" name="description" id="description" value="<%= project.description %>" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" name="location" id="location" value="<%= project.location %>" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="priority">Priority</label>
                        <select id="priority" name="priority" class="form-control" required>
                            <option selected><%= project.priority %></option>
                            <option>low</option>
                            <option>median</option>
                            <option>high</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="start-at">Start At</label>
                        <input type="datetime-local" class="form-control" name="start_at" id="start-at" value="<%= project.start_at %>" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="deadline">Deadline</label>
                        <input type="datetime-local" class="form-control" name="deadline" id="deadline" value="<%= project.deadline %>" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <span class="form-control">Completed</span>
                        <input type="radio" name="completed" id="c1" value="False" <% if(project.completed === 'False'){ %> checked="checked" <% } %> > <label for="c1">False</label>
                        <input type="radio" name="completed" id="c2" value="True" <% if(project.completed === 'True'){ %> checked="checked" <% } %> > <label for="c2">True</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <span class="form-control">Fixed</span>
                        <input type="radio" name="fixed" id="f1" value="False"  <% if(project.fixed === 'False'){ %> checked="checked" <% } %> > <label for="c1">False</label>
                        <input type="radio" name="fixed" id="f2" value="True"  <% if(project.fixed === 'True'){ %> checked="checked" <% } %> > <label for="c2">True</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary float-right">Update Project</button>
                    </div>
                </div>
            </form>
        <% } else { %>
        <p class="text-center">Project Not Found. Go <a href="/<%= username %>/project/create">here</a> to add project.</p>
    <% } %>
    </div>
</div>
</body>
</html>